.InfoPanelWrapper {
  padding: 10px;
  overflow: auto;

  .Image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #DDD;
  }

  .Buttons {
    padding: 15px 15px 0 15px;
    display: flex;
    gap: 10px;
  }

  .PhotoMeta {
    padding: 15px 15px 5px 15px;
    line-height: 140%;

    .Label {
      font-weight: 800;
    }

    .NER {
      flex: 1;
      align-self: center;

      :global .LOC {
        padding: 0 2px;
        background-color: #F73E12;
        color: #FFF;
        border-radius: 5px;
      }
    }

    .Link {
      a {
        font-weight: 600;
      }
    }

    .StatusButtons {
      :global .ant-space-item:nth-child(2) .ant-radio-checked .ant-radio-inner {
        background-color: #F4D03F;
        border-color: #F4D03F;
        color: black;
      }

      :global .ant-space-item:nth-child(3) .ant-radio-checked .ant-radio-inner {
        border-color: #1ABC9C;
        background-color: #1ABC9C;
        color: black;
      }

      :global .ant-space-item:nth-child(4) .ant-radio-checked .ant-radio-inner {
        border-color: #000;
        background-color: #000;
        color: black;
      }
    }
  }

}