.Header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #F8F8F8;
  z-index: 9;
  width: 100%;
  padding: 0 10px;
}

.ContentWrapper {
  display: flex;
  gap: 20px;
  padding: 0 10px;

  .Left {
    flex: 3;

    .TableHead {
      z-index: 9;

      th {
        position: sticky;
        top: 49px;
        border-top: 1px solid #DDD;
        z-index: 9;
      }
    }

    .PhotoGrid {
      margin: 0 auto;
      padding-top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 20px;
    }

    .Data {
      font-style: italic;
    }
  }

  .Right {
    flex: 2;

    .RightSideWrapper {
      position: sticky;
      max-height: calc(100vh - 50px - 90px);
      overflow-y: unset;
      top: 49px;
    }
  }
}

.Pagination {
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  width: 100%;
  margin-left: calc(-0.5* var(--bs-gutter-x));
  border-top: 1px solid #DDD;
  z-index: 10;
  padding: 15px 10px 0 10px;
}

.HeaderWrapper {
  position: sticky;
  top: 49px;
  z-index: 999;

  :global .sr-only {
    display: none;
  }

  .HeaderRow {
    vertical-align: middle;
  }
}

.TableColumn {
  vertical-align: middle;
}